


.searchbar_ligne{
      min-width: 450px !important; 
      max-width: 450px !important
    
    
    }

.results_ligne{
    min-width: 130px !important;
    max-width: 130px !important
}


.table_height {

    he
}
