


.searchbar_ligne{
      min-width: 450px !important; 
      max-width: 450px !important;

    }

.results_ligne{
    min-width: 100px !important;
    max-width: 100px !important
}


@media (max-height: 880.00px) {
.table_height {

    max-height: 370px !important;
 
 }

}


@media (min-height: 881.00px) {

    .table_height {

        max-height: 240px !important;
        overflow-x: scroll
     
     }


    }


    #price-fontsize-ligne-currency {
        font-size:  10px;
        
    }


.testrow {
    display: flex;
    
}