@media (min-width: 767.98px) {


.searchbar_ligne{
      min-width: 450px !important; 
      max-width: 450px !important;
      position:fixed;
      top:200;
      width:100%;
      z-index:100;
    
    }

.results_ligne{
    min-width: 130px !important;
    max-width: 130px !important
}
}

@media (max-height: 880.00px) {
.table_height {

    max-height: 370px !important;
 
 }

}


@media (min-height: 881.00px) {

    .table_height {

        max-height: 740px !important;
     
     }


    }