@media (min-width: 767.98px) {


.searchbar_ligne{
      min-width: 400px; 
      max-width: 400px
    
    
    }

.results_ligne{
    min-width: 130px !important;
    max-width: 130px !important
}
}